<table>
  <tr>
    <td width="100px"><img src="../images/avatar1b.gif" width=50% height=50%></td>
    <td text-align="left">Curso - Desarrollo Servicios en la Nube con HTML5, Javascript y node.js<br />
			                    Alumno: <strong>Francisco J. Valverde</strong></td>
  </tr>
</table>
